* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  height: 500px; /* ajuster la hauteur */
  background: #000;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* ratio d'aspect 16:9 */
    transform: translate(-50%, -50%);
    pointer-events: none;
    
    @media screen and (max-width: 900px) {
      width: 100%;
      height: 100%;
      padding-bottom: 0;
    }
  }

  &__video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s linear;

    &--fadeOut {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__title {
    position: relative;
    flex: 0 0 auto;
    align-self: center;
    width: 100%;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    color: white;
    line-height: 1;
    text-shadow: 0px 0px 20px #000000;
  }

  &__text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
text-shadow: 0px 0px 19px rgba(0, 0, 0, 1),0px 0px 25px rgba(0, 0, 0, 1);  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    pointer-events: none;
    
  }
}